{

  "MAC:A": {
    "sensor_name": "Sensor A Name",
    "temp_diff": 0.0,
    "humid_diff": 0.0
    },
  "MAC:B": {
    "sensor_name": "Sensor B Name",
    "temp_diff": 0.0,
    "humid_diff": 0.0
    },

}
