#ifndef __CONFIG_H
  #define __CONFIG_H

  // Development settings
  //#define DEBUG
  #define SERIAL_BAUD     115200

  // Sensor settings
  #define DHTTYPE         DHT22
  #define DHTPIN          2

  // Wifi settings
  #define WIFI_SSID       "yourwifissid"
  #define WIFI_PASSWORD   "yourwifipasswd"
  #define MQTT_SERVER     "mqttserverip"
  #define MQTT_PORT       1883
  #define MQTT_USERNAME   ""
  #define MQTT_PASSWORD   ""
  #define CONNECT_TIMEOUT 5

  // Loop settings
  #define LOOP_SLEEP      30000
  #define UPLOAD_EVERY    20
  #define NUM_CACHE       220
#endif
