#ifndef __CONFIG_H
  #define __CONFIG_H

  // Development settings
  //#define DEBUG
  #define SERIAL_BAUD     115200

  // Sensor settings
  #define DHTTYPE         DHT22
  #define DHTPIN          2
  #define HUMID_CORR      0
  #define TEMP_CORR       0

  // Wifi settings
  #define CLIENT_ID       "sensor_name"
  #define WIFI_SSID       "yourwifissid"
  #define WIFI_PASSWORD   "yourwifipasswd"
  #define MQTT_SERVER     "mqttserverip"
  #define CONNECT_TIMEOUT 5

  // Loop settings
  #define LOOP_SLEEP      30000
  #define UPLOAD_EVERY    20
  #define NUM_CACHE       220
#endif
